/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/
.flex-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.flex-header > h1 {
  /* line-height: 100%; */
  margin: auto 0 auto 1em;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;

}

article {
width: 100%;
border-bottom: 2px dashed darkblue;
}

h1 {

}

.hundred {
position: relative;
max-width: 100%;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-footer > a {
  min-width: 208px;
  text-shadow: 3px #ccc;
  margin: 0.5em;
}

.logo {
  width: 10vw;
}